<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org//dtd/mybatis-3-config.dtd">

<configuration>
    <!--别名-->
    <typeAliases>
        <!--所有bean对数据库的映射都放在com.blog.entity包下-->
        <package name="com.blog.entity"/>
    </typeAliases>
</configuration>

